@import "tailwindcss";



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-hover-color:var(--hover-color)

}

:root {
  --hover-color: #F0F0F0;
}









/* body {
  font-family: Arial, Helvetica, sans-serif;
} */
